{{page-title "Index"}}

<main>
  <h1>Welcome to the OneTrust Movie Database</h1>

  <img class="logo" src="https://www.onetrust.com/wp-content/themes/onetrust/images/OneTrustLogo.svg" alt="OneTrust">
</main>
